  <div class="banner">
  <div class="index-banner-grid">
    <h1>Master your evening</h1>
    <div class="space"></div>
    <div class="index-shop">
    <div>
    <h3> <a href="#index-title">  Shop now </a></h3>
    </div>
    <div>
        <h4><%= fa_icon "chevron-circle-down" , class: "fa-2x shop_font_awesome" %></h4>
     </div>
    </div> 
  </div>
  </div>

<div class="index-page-container">



  <div class="sidebar ">
    <!-- Sidebar here -->


     <%= simple_form_for :search, url: restaurants_path, html: {class: "sidebar-form"}, method: :get do |f|%>
      <%= f.input :categories, collection: ["British", "French", "Japanese"], as: :check_boxes, label: "Category", required: false %>
      <%= f.input :dietary, collection: ["Vegetarian", "Vegan", "Gluten-Free"], as: :check_boxes, label: "Dietary", required: false %>
      <!-- Rating Section start here, as part of the simple form -->
      <%= f.input :query , as: :hidden, input_html: {value: params.dig(:search, :query)} %>
      <%= f.button :submit, "Filter Results", class: "btn btn-outline-primary", id: "filter" %>
    <% end %>
  </div>

    
    <div class="index-grid">
    <h2> <a id="index-title"></a> Discover Our Restaurants Near You  </h2>  
      <% @restaurants.each do |restaurant| %>
        <div class="m-3 p-3">
          <%= link_to restaurant_path(restaurant.id) do %> 
           <div class="restaurant-card" > 
            
             <div class="restaurant-card-image" style="background-image: url(
                <% if restaurant.photo.attached?  %>
                  <%= cl_image_path restaurant.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <%= 'assets/restaurant.png' %>
                <% end %>
              );"> 
              </div>
            <div class="restaurant-card-info">  
              <% if  restaurant.tasting_menu.present? %>
                <div class="tasting-circle">TASTING MENU</div>
              <% end %>
              <% if restaurant.dietary.present? && restaurant.dietary != "None" %>
                <div class="dietary-circle"><%= restaurant.dietary.upcase %></div>
              <% end %>
              <div class="index-card-grid">
              <div class="index-card-category">
                  <p><%= restaurant.category %> cuisine</p>
              </div>
              <div class="index-card-title">
                <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
              </div>
              <div class="index-card-discover">
                <h4>Discover Now <%= fa_icon "chevron-circle-right" , class: "discover_font_awesome" %> </h4>
              </div>
            </div>


           </div> 
          </div>
        <% end %>  
        </div>
       <% end %>
    </div>

</div>
